.ec-link {
  color: blue !important;
  font-weight: bold;
  text-decoration: underline;
}

.ec-link:hover {
  text-decoration: none;
}

.ec-link:focus {
  outline: 2px solid blue;
  outline-offset: 3px;
}
